<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" th:action="@{/mvc/files}">
    Select file: <input name="file" type="file">
    <br/>
    <input type="submit" value="Upload">
</form>
<div>
    List of all files: <br/>
    <div th:each="file: ${files}">
        <img th:src="@{/mvc/files/{file}(file=${file})}"/>
        <br/>
        <a th:href="@{/mvc/files/{file}(file=${file})}"
           th:text="${file}">Filename</a>
    </div>
</div>
</body>
</html>